@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@theme {
  /* This is where we define the Power ReTeam palette */
  --color-brand-black: #191919;
  --color-brand-navy: #242a3d;
  --color-brand-dark: #1d2231;
  --color-brand-sky: #38bdf8;

  /* We can also define font preferences here if needed */
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
}